.navbarActiveBackground {
    background: #200b6a;
}
.btnAction {
    position: relative;
    width: 150px;
    height: 45px;
    color: #fff;
    line-height: 45px;
    border: 2px solid #fd562a;
    border-radius: 27px;
    background: none;
    transition: all 0.6s ease-in;
    overflow: hidden;
    
}
 .btnAction:hover {
    background: #fff;
    color: #fd562a;
 }
.btnAction:hover::before {
    animation: criss-cross-left 0.6s both;
    animation-duration:  alternate;
}
.btnAction:hover::after {
    animation: criss-cross-right 0.6s both;
    animation-duration:  alternate;
}
.btnAction::after,
.btnAction::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #fd562a;
    border-radius: 50%;
}
.btnAction::before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.btnAction::after {
    right: -40px;
    transform: translate(-50%, -50%);
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        transform: scale(8);
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        transform: scale(8);
    }
}